extends layout

block content
  #contents-body
    .row
      .col-md-3
        ul.list-unstyled
          li: a.feedItem(href='#', feed-id='0') All Feeds
        hr
        ul.list-unstyled
          each feed in feeds
            li: a.feedItem(href='#', feed-id=feed.feed_id) #{feed.title}
      .col-md-9
        h4#feedTitle All Feeds:
        .paging
          ul#page-navigation-top.pagination
        table.table#contentsPane
        .paging
          ul#page-navigation-bottom.pagination
