doctype html
html
  head
    title= title
    script(src="http://code.jquery.com/jquery.js")
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet", href="/css/bootstrap-theme.min.css")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    
    script(src="/js/bootstrap.min.js")
    script(src="/js/hogan-2.0.0.min.js")
    script(src="/js/grdc.js")

  body
    #header
      h1 grrreader - RSS reader
    block content
